# --- PYTHON BACKEND ---
venv/
__pycache__/
*.pyc
instance/
.env
.DS_Store

*.db
*.sqlite3

# --- REACT FRONTEND ---
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# --- EDITOR SETTINGS ---
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp